.content-container {
    display: flex;
    justify-content: center;
    /* background-color: #2C3531; */
}


.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;
}

.custome {
    color: red;
}