.content-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    background-color: #116466 !important;
}

h5 {
    color:#D9B08C ;
}

p {
    color: #D1E8E2;
}